.header{
    height: 60px;
    background-color: #2aabd2;
    font-size: 40px;
    color: white;
    padding-left: 30px;
}

.nameLine{
    height: 40px;
    font-size: 25px;
    color: #0f0f0f;
    text-align: center;
}

.cursor-pointer:hover{
    cursor: pointer;
}

.tableInput{
    width: 100%;
}
.col-md-1{
    padding-left:1px;
    padding-right:1px;
    overflow-x: auto;
}